@import '../../styles/common.css';
@import '../../styles/reset.css';
@import '../../styles/variables.scss';


.feedsParts {
    border: 1px solid $color-search-grey;
    background-color: $color-nav;
    border-radius: 8px;

    .feedsPartsHeader {
        display: flex;
        padding: 10px;
        align-items: center;

        .profileImg {
            margin-right: 0.8em;
            width: $width-profile-medium;
            }

        .profile {
        flex: 1 1 auto;
        line-height: 1.2em;

            .profileName {
            font-weight: $font-weight-semibold;
            }

            .profileDes {
            font-size: $font-size-xs;
            
                span::before {
                    content: " · ";
                    font-size: 15px;
                    }
            }
        }
        .more > a > i {
            font-size: 30px;
        }
    }//header
    .feedsPartsImg > img {
        width: 470px;
    }//피드 사진

    .feedsPartsIcons {
        @include flex(space-between, null);
        
        .icon {
            font-size: $size-icon;
            padding: 8px;
        }
    }//피드 아이콘
    .feedsPartsContents {
        font-weight: $font-weight-bold;
        padding: 10px;

        .commentsList {
            border-bottom: 1px solid $color-search-grey;
        
            .commentsParts {
                @include flex(null, center);
                flex-direction: row;
                margin: 10px 0;
            
                strong {
                    margin-right: 10px;
                    font-weight: $font-weight-semibold;
                }
                p {
                    flex: 1 1 auto;
                    font-weight: $font-weight-regular;
                }
                i {
                    margin : 5px;
                }
            }
        }
        .commentsAdd {
            @include flex(null, center);
            margin-top: 10px;

            i {
                font-size: $size-icon;
                margin-right: 8px;
                
                &:hover {
                    cursor: pointer;
                }
            }

            .newComment {
                flex: 1 1 auto;
                padding: 5px;

                &:focus {
                    outline: none;
                }

            }
            .commentsAddBtn {
                font-size: 16px;
                margin-left: 8px;

                &:hover {
                    cursor: pointer;
                }
            }
        }
    }
}
