@import '../../styles/common.css';
@import '../../styles/reset.css';
@import '../../styles/variables.scss';


.friendsParts {
    @include flex(null, center);
    margin-top: 10px;

    .friendProfileImg {
        width: $width-profile-medium;
        margin-right: 0.8em;
    }

    .friendProfile {
        flex: 1 1 auto;
        line-height: 1.2em;

        .friendProfileName {
            font-weight: $font-weight-title;
        }
        
        .friendProfileDes {
            font-size: $font-size-xs;
            color: $color-profile-grey;
        }
    }
    
    .followBtn {
        color: $color-font-blue;
        font-weight: $font-weight-semibold;
    }

}