@import '../../styles/common.css';
@import '../../styles/reset.css';
@import '../../styles/variables.scss';



.header {
    position: fixed;
    top: 0;
    width: 100%;
    height: $height-header;
    border-bottom: 2px solid $color-search-grey;
    background-color: $color-nav;
    
    .navWrapper {
        @include flex(space-between, center);
        width: 100%;
        height: 100%;
        max-width: calc(935px + 40px);
        margin: 0 auto;
        padding: 5px 20px;
        
        .logo {
            @include flex(flex-start, null);
            padding: 8px;
            font-weight: $font-weight-title;
            font-family: "Lobster", cursive;
            font-size: $size-icon;
        }
        
        .search > input {
            padding: 10px 16px;
            border-radius: 8px;
            background-color: $color-search-grey;
            font-family: fontAwesome;
            font-size: $font-size-base;

            &:focus {
                outline: none;

            }
        }
        
        ul {
            display: flex;
            flex-direction: row;
    
            li {
                @include flex(flex-end, null);
                margin-right: 10px;
                font-size: $size-icon;
                padding: 8px;
            }
        }
    }//navWrapper
}//header